section .row img{
  margin: 0 0 30px 0;
  width: 90%;
  height: 90%;
  background-color: gray;
  border:2px solid #d9d9d9;
  display:flex;
  position: center;
  border-radius:18px;
}

section .row{

margin-right: 660px;
margin-left: 40px

}

.btn-primary{
  color: gray;
  margin-right: 40px;
  margin-top:40px;
  text-decoration: none;
}

.button {
    background-color: #d9d9d9;
    color: black;
    padding: 15px 15px 15px 15px;
    text-align: center;
    height:15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 18px 10px;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;

}


body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-image: url(  'http://wallpapercave.com/wp/Xc4ZUA0.png' );
  color: #d9d9d9;
  display:flex;

}

h1{
	text-align: center;
  white-space: nowrap;
  width: 15%;
  margin-left: 580px;
  border: 2px solid #d9d9d9;
  padding: 10px 10px 10px 10px;
  height: 2%;
  border-radius: 5px;
  margin-bottom: 40px;
  




}

